fastapi
uvicorn
pydantic

langchain
langchain-core
langchain-community
langchain-chroma
langchain-google-genai
langchain-text-splitters

chromadb
openai
python-dotenv
pypdf
requests
beautifulsoup4
Flask==3.0.3
python-dotenv
